<header class="header">
  <p>[ 京都・白味噌編 ]</p>
  <h1>{{title}}</h1>
</header>
<main class="contents">
  <ul class="ozounis">
    {{#each data}}
    <li class="ozouni">
      <a class="ozouni-block" href="{{this.link}}" target="_brank">
        <img class="ozouni-image" src="{{this.image}}">
        <p class="ozouni-text">{{{this.text}}}</p>
      </a>
    </li>
    {{/each}}
  </ul>
  <div class="navigation">
    <p><a href="/{{next}}">次のページ</a></p>
  </div>
</main>