<header class="header">
  <p>[ 京都・白味噌編 ]</p>
  <h1>{{title}}</h1>
</header>
<main class="contents">
  <ul class="ozounis">
    {{#each data}}
    <li class="ozouni">
      <a class="ozouni-block" href="{{this.link}}" target="_brank">
        <img class="ozouni-image" src="{{this.image}}">
        <div class="ozouni-text">
          <div class="ozouni-meta">
            <img class="ozouni-icon" src="{{this.icon}}" alt="">
            <p class="ozouni-username">{{this.username}}</p>
          </div>
          <p>{{{this.text}}}</p>
        </div>
      </a>
    </li>
    {{/each}}
  </ul>
  <div class="navigation">
    <p><a href="/{{next}}">次のページ</a></p>
  </div>
</main>